<header id="header">
    <h1><a class="capitalise" href="{{site.baseurl}}/index">Sarah Usher</a></h1>
    <nav class="links">
        <ul>
<!--            <li><a href="/techblog">Data Engineering</a></li>-->
<!--            <li><a href="/teamblog">People & Teams</a></li>-->
<!--            <li><a href="/blog">Life</a></li>-->
            <li><a href="/writing">Writing</a></li>
            <li><a href="/mentorship">Mentorship & Coaching</a></li>
            <li><a href="/speaking">Speaking</a></li>
            <li><a href="/services">Consulting Services</a></li>
            <li><a href="https://www.techriserswomen.com/">Tech Risers Women</a></li>

        </ul>
    </nav>

</header>