<!DOCTYPE HTML>

<html>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->



	{% include header.html %}

	<!-- Main -->
	<div id="main" class="post">

		<b> I consult on the following topics, for companies of any size: </b>
		<ol>
			<li> Finding your first technical hire </li>
			<li> Reviewing and improving your hiring process for diverse candidates </li>
			<li> Understanding when to invest in Data Infrastructure and which tools to use </li>
			<li> Introduction to TDD workshops </li>
		</ol>

		<div>
			<i>Cost: £75 an hour. I offer free and discounted time for business owners of colour and non-binary and female owners.</i>
			<p><a href="https://meetings.hubspot.com/sarahnusher">You can book an initial chat with me here</a> </p>
		</div>

		<div>
			<span class="image featured"><img src="/images/irit-keynan-hbZK36IGvqU-unsplash.jpg" alt="cat reading a book" /></span>
			<div>Image Attribution: https://unsplash.com/photos/hbZK36IGvqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink</div>
		</div>
	</div>

	<!-- Sidebar -->
	<section id="sidebar">

		<!-- Intro -->
		<section id="intro">
			<a href="#" class="logo"><img src="/images/sarah1.jpg" alt="" /></a>
			<header>
				<h2>Sarah Usher</h2>
				<p>Data Tech Specialist</p>
				<p>Speaker</p>
				<p>Mentor</p>
				<p>Advisor</p>
			</header>
		</section>

		<!-- About -->
		<section class="blurb">
			<h2>About</h2>
			<p>Sarah hails from sunny South Africa and is currently living in London. She has been building useful software for
				10 years and is currently focused on Data Engineering, Backend Engineering and Data Products as well as community work through Ladies of Code London.
				I like cats.
			</p>
			<!--<ul class="actions">-->
			<!--<li><a href="#" class="button">Learn More</a></li>-->
			<!--</ul>-->
		</section>

<!--		https://unsplash.com/photos/hbZK36IGvqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink-->

		<!-- Footer -->
		{% include footer.html %}
	</section>

</div>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>