<!DOCTYPE HTML>

<html>

{% include head.html %}

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->



	{% include header.html %}

	<!-- Main -->
	<div id="main" class="post">

		<div>
			<section>
				<header>
					<h2 class="capitalise">
						Mentorship
					</h2>
				</header>
				<b> I offer the following - for free - for career entrants, associate, mid-level and early senior developers: </b>
				<ol>
					<li> Realistic Career Guidance / Plotting </li>
					<li> Learning Development Plans </li>
					<li> Portfolio ideas & review for Software Engineering, Data Engineering, Data Analytics & Testing roles</li>
					<li> Test-Driven-Design/Development training </li>
					<li> Coding practice </li>
					<li> General industry advice/chat </li>
					<li> Interview practice </li>
					<li> Public speaking review and practice for new speakers </li>
				</ol>

				<div>
					<p><i>I've helped over 50 people get into and stay in tech. Book time with me directly or find me on ADPList.</i></p>
					<p><a href="https://meetings.hubspot.com/sarahnusher">You can book time with me here</a> </p>
					<p><a href="https://adplist.org/mentors/sarah-usher">ADPList profile</a></p>
				</div>
			</section>
		</div>

		<br>

		<div>
			<section>
				<header>
					<h2 class="capitalise">
						Coaching
					</h2>
				</header>

				<b> For those looking for longer term training, confidence building or general technical career coaching,
				I offer weekly, fortnightly, or monthly coaching.</b>

				<div>
					<b>Cost:</b> 50min session at £25 (Associates and Interns), £35 (Mid-level), £45 (Senior+).
					<div>
						Coaching is aimed at those currently working and aiming to improve skills for promotions. Those <i>not</i> working, and looking
						for assistance to get a new job, can sign-up for mentorship above.
					</div>
					<p><a href="https://forms.gle/Encg9cW2XrtdugFi8">You can book a free initial discussion with me here</a> </p>
				</div>
			</section>
		</div>

		<br>

		<section>
			<div>
				<i>
				The difference between my Coaching and Mentorship is:
                </i>
            </div>
            <div>
                <i>
                    With Mentorship: Topics and sessions are driven by the mentee & we might
				not have regular sessions, but it is always free.
                </i>
            </div>
            <div>
                <i>
                    With Coaching: we have regular, prepared sessions, that move you forward, toward completing specific goals;
                    I follow up with you; send reminders where required; and will do work
				on your behalf such as: creating a CV, searching for jobs, reviewing applications, reviewing code in projects, etc.
				</i>
			</div>
		</section>

		<br>
		<br>

		<section>
			<header>
				<h2 class="capitalise">
					Coaching Testimonials
				</h2>
			</header>
			<b><a href="https://www.linkedin.com/in/denise-ignatova/">Denise Ignatova</a> - Software Engineer</b>
			Feb 2024
			<br>
			<div>
				After almost 8 months of coaching with Sarah, my attitude about myself,
				and my career has shifted 180 degrees.
				I found the courage to make and even embrace change and to move forward by making choices
				that benefit me, not just looking out for everyone else.
				I want to emphasize that Sarah has helped me develop ways to deal with situations using my
				own knowledge and self-awareness, and she developed a plan,
				a concept for what I want my career to look life for the next years of my life. <br>
			</div>
		</section>



<!--		<div>-->
<!--			<b>You can find me in the Women Who Code & Ladies of Code London Slack groups as well as the RecWorks Meet-a-mentor program. </b>-->
<!--			<ol>-->
<!--				<li> <a href="https://www.womenwhocode.com/">https://www.womenwhocode.com/</a> </li>-->
<!--				<li> <a href="https://www.meetup.com/Ladies-of-Code-UK/">https://www.meetup.com/Ladies-of-Code-UK/</a> </li>-->
<!--				<li> <a href="https://meetamentor.co.uk/">https://meetamentor.co.uk/</a> </li>-->
<!--			</ol>-->
<!--		</div>-->

		<div>
			<span class="image featured"><img src="/images/irit-keynan-hbZK36IGvqU-unsplash.jpg" alt="cat reading a book" /></span>
			<div>Image Attribution: https://unsplash.com/photos/hbZK36IGvqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink</div>
		</div>
	</div>

	<!-- Sidebar -->
	{% include sidebar.html %}

</div>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>