<!DOCTYPE HTML>

<html>

{% include head.html %}

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->



	{% include header.html %}

	<!-- Main -->
	<div id="main" class="post">

		<div> I'm an experienced engineer, coach and advisor, helping build teams and deliver data intensive systems
			(among other types) for over 10 years. <br>
			I consult and provide the following short term services, for companies of all sizes:
		</div>

		<br>

		<section>
			<header>
				<h2 class="capitalise">
					Technical Services
				</h2>
			</header>
			<ol>
				<li> Data & Analyst Engineer interviews </li>
				<li> System Architecture Design reviews & advice </li>
				<li> Understanding when to invest in Data Infrastructure and which tools to use </li>
				<li> How to hire your first Technical employee</li>
			</ol>
		</section>

		<section>
			<header>
				<h2 class="capitalise">
					Training
				</h2>
			</header>
			<ol>
				<li> <b>A history of Data Tooling </b> - understand what databases, warehouses, marts, lakes and the Data Mesh is
					and why they were developed </li>
				<li> <b>Data Products - a Data Mesh principle.</b> What they are, and how to design them </li>
				<li> <b>Modern Data Engineering principles </b> - how has our view of building Data Systems changed in recent times </li>
				<li> <b>Introduction to TDD workshop</b> </li>
			</ol>
		</section>


		<div>
			<i> <b>Cost:</b> £75 an hour. I offer free and discounted time for business owners of colour and non-binary and women owners, as well as non-profits.</i>
			<p><a href="https://forms.gle/Encg9cW2XrtdugFi8">You can book an initial discussion with me here</a> </p>
		</div>

		<br>

		<section>
			<header>
				<h2 class="capitalise">
					Testimonials:
				</h2>
			</header>
			<b>Naked Insurance - <a href="https://www.linkedin.com/in/jadeventer">Jade Venter</a> - CTO</b> <br>
			<i>Data Engineer Interview Service - Feb 2023</i> <br>
			<div>
				Sarah interviewed a potential data engineer candidate for us. Before approaching the assessment, she first established an understanding of the needs of the business. This included the expectations of the role, the data management needs of business, and the nuances of the current team make-up. <br>
				We required the candidate to display an ability to lead the data engineering efforts in the organisation in order to further bridge technical teams, AI and business. This was a critical hire for the team and Sarah made us feel confident in her ability to assess the candidate right from the get-go. <br>
				Sarah prepared a well-thought-out architecture technical interview over a 90-minute session. In this session, she explored the candidates ability to reason, and holistically think about data. She further assessed the technical understanding of the tools and the appropriate use thereof as part of a pragmatic scenario-based discussion. <br>
				Within a few days, we received a comprehensive report that detailed the shortcomings and strengths of the candidate with a firm conclusion on where the candidate's experience lies. This report allowed us to make the decision easily. It also provided constructive feedback that we shared directly with the candidate. The candidate even praised the level of transparency and openness, and said they would use it going forward to improve in their career. <br>
				Sarah conducted herself in a professional manner, both in communication and execution. She made us feel confident in our ability to assess the candidate and ran an exceptionally efficient technical interview with the candidate. We plan to continue to use her services in future even beyond hiring candidates. <br>
			</div>
		</section>

		<br>
		<br>

		<div>
			<span class="image featured"><img src="/images/irit-keynan-hbZK36IGvqU-unsplash.jpg" alt="cat reading a book" /></span>
			<div><i>Image Attribution: https://unsplash.com/photos/hbZK36IGvqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink</i></div>
		</div>
	</div>

	<!-- Sidebar -->
	{% include sidebar.html %}

</div>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>