<!DOCTYPE HTML>

<html>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->



	{% include header.html %}

	<!-- Main -->
	<div id="main" class="post">

		<b> I speak on the following topics in general: </b>
		<ul>
			<li> Data - Industry, Engineering, Processes & Tools </li>
			<li> Team Processes & Practices</li>
			<li> TDD and Testing </li>
			<li> Tech Mentorship </li>
		</ul>

		<div>

			<b>Most recent talks:</b>
			<ul>
				<li> Women in Data - Data Lifecycle series 2023 - Ingestion, Curation & Insights 3-part lecture series</li>
				<li> Devoxx UK 2022 - What your Plumber can teach you about Data Pipelines </li>
				<li> SnykCon 2021 - Becoming a secure Java Developer</li>
				<li> Women Who Code London 2021 - Sliding Window Algorithm </li>
				<li> Women in Tech World Series 2021 - BigQuery is not a Data Strategy </li>
				<li> Women Who Code London 2021 - Mentorship Panel </li>
				<li> London Java Community 2020 - What your Plumber can teach you about Data Pipelines </li>
				<li> London Java Community 2020 - Coach & Captain - a pattern for Team Leadership </li>
				<li> Agile on the Beach 2018 - TDD for Testers </li>
				<li> Java 9 and Women in tech Unconference 2016 - Neural Networks in 5 minutes </li>
<!--				https://www.meetup.com/Jozi-JUG/events/229688441/-->
			</ul>
		</div>
		<div>
			<b>In previous years:</b>
			<ul>
				<li> What's in a [build] pipeline and why you should care</li>
				<li> TDD workshops - Game of Life</li>
			</ul>
		</div>
		<b>You'll find me regularly at Ladies of Code London's <a href="https://www.youtube.com/channel/UCF-o7cvylZZjRkoZhe1T5zw"> Get Into series </a>, where
			we interview folks about different roles in tech and how to get a job in those roles, as well as running the <a href="https://ladiesofcodegroupsessions.github.io/">Group Coding Sessions</a>.</b>

		<div>
			<span class="image featured"><img src="/images/parviz-isaev-iTvO1oSCKDo-unsplash.jpg" alt="cat reading a book" /></span>
			Photo by <a href="https://unsplash.com/@isaev?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Parviz Isaev</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
		</div>
	</div>

	<!-- Sidebar -->
	{% include sidebar.html %}

</div>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>