<!DOCTYPE HTML>

<html>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->



	{% include header.html %}

	<!-- Main -->
	<div id="main" class="post">

		<b> I speak on the following topics in general: </b>
		<ol>
			<li> Data - Industry, Engineering, Processes & Tools </li>
			<li> Team Processes & Practices</li>
			<li> TDD and Testing </li>
			<li> Tech Mentorship </li>
		</ol>

		<div>

			<b>Most recent talks:</b>
			<ol>
				<li> Women Who London 2021 - Sliding Window Algorithm - coming up</li>
				<li> Women in Tech World Series 2021 - BigQuery is not a Data Strategy </li>
				<li> Women Who Code London 2021 - Mentorship </li>
				<li> London Java Community 2020 - What your Plumber can teach you about Data Pipelines </li>
				<li> London Java Community 2020 - Coach & Captain - a pattern for Team Leadership </li>
				<li> Agile on the Beach 2018 - TDD for Testers </li>
				<li> Java 9 and Women in tech Unconference 2016 - Neural Networks in 5 minutes </li>
<!--				https://www.meetup.com/Jozi-JUG/events/229688441/-->
			</ol>

		</div>
		<b>You'll find me regularly at Ladies of Code London's <a href="https://www.youtube.com/channel/UCF-o7cvylZZjRkoZhe1T5zw"> Get Into series </a>, where
			we interview folks about different roles in tech and how to get a job in those roles.</b>

		<div>
			<span class="image featured"><img src="/images/parviz-isaev-iTvO1oSCKDo-unsplash.jpg" alt="cat reading a book" /></span>
			Photo by <a href="https://unsplash.com/@isaev?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Parviz Isaev</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
		</div>
	</div>

	<!-- Sidebar -->
	<section id="sidebar">

		<!-- Intro -->
		<section id="intro">
			<a href="#" class="logo"><img src="/images/sarah1.jpg" alt="" /></a>
			<header>
				<h2>Sarah Usher</h2>
				<p>Polyglot</p>
				<p>Data Tech</p>
				<p>Speaker</p>
				<p>Mentor</p>
			</header>
		</section>

		<!-- About -->
		<section class="blurb">
			<h2>About</h2>
			<p>Sarah hails from sunny South Africa and is currently living in London. She has been building useful software for
				10 years and is currently focused on Data Engineering, Backend Engineering, Data Products and Analytics as well as community work through Ladies of Code London.
				I like cats.
			</p>
			<!--<ul class="actions">-->
			<!--<li><a href="#" class="button">Learn More</a></li>-->
			<!--</ul>-->
		</section>

<!--		https://unsplash.com/photos/hbZK36IGvqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink-->

		<!-- Footer -->
		{% include footer.html %}
	</section>

</div>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>