<!DOCTYPE HTML>

<html>

{% include head.html %}

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->



	{% include header.html %}

	<!-- Main -->
	<div id="main" class="post">

		<div>
			<section>

				<header>
					<h2 class="capitalise">
						Speaking
					</h2>
				</header>

				<b> I've spoken at various conferences since 2016. Currently, I speak on the following topics in general: </b>
				<ul>
					<li> Data - Industry, Modern Day Architecture, Engineering, Processes & Tools </li>
					<li> Team Processes & Practices</li>
					<li> TDD and Testing </li>
					<li> Tech Mentorship </li>
				</ul>

				<div>

					<b>Most recent talks:</b>
					<ul>
						<li> <a href="https://qconlondon.com/presentation/apr2025/beyond-warehouse-why-bigquery-alone-wont-solve-your-data-problems"> QCon London 2025 - Beyond the Warehouse: Why BigQuery Alone Won’t Solve Your Data Problems </a>  </li>
						<li> Women in Data - Data Lifecycle series 2023 - Ingestion, Curation & Insights 3-part lecture series</li>
						<li> Devoxx UK 2022 - What your Plumber can teach you about Data Pipelines </li>
						<li> SnykCon 2021 - Becoming a secure Java Developer</li>
						<li> Women Who Code London 2021 - Sliding Window Algorithm </li>
						<li> Women in Tech World Series 2021 - BigQuery is not a Data Strategy </li>
						<li> Women Who Code London 2021 - Mentorship Panel </li>
						<li> London Java Community 2020 - What your Plumber can teach you about Data Pipelines </li>
						<li> London Java Community 2020 - Coach & Captain - a pattern for Team Leadership </li>
		<!--				<li> Agile on the Beach 2018 - TDD for Testers </li>-->
		<!--				<li> Java 9 and Women in tech Unconference 2016 - Neural Networks in 5 minutes </li>-->
		<!--				https://www.meetup.com/Jozi-JUG/events/229688441/-->
					</ul>
				</div>
				<div>
					<b>In previous years:</b>
					<ul>
						<li> TDD for Testers </li>
						<li> Neural Networks in 5 minutes </li>
						<li> What's in a [build] pipeline and why you should care</li>
						<li> Introduction to Swift </li>
						<li> TDD workshops - Game of Life</li>
					</ul>
				</div>
				<b>You'll find me regularly at meetups, due my involvement across many communities.
					I've run workshops for Women in Data, Tech Risers Women and Ladies of Code London.
					I've recorded various episodes of Ladies of Code London's <a href="https://www.youtube.com/channel/UCF-o7cvylZZjRkoZhe1T5zw"> Get Into series </a>, where
					we interview folks about different roles in tech and how to get a job in those roles. I also run the in person socials.
					At Tech Risers Women I regularly train developers on TDD and good code and testing practices,
					during the <a href="https://www.techriserswomen.com/group-coding-sessions">Group Coding Sessions</a>.</b>

				<div>
					<span class="image featured"><img src="/images/parviz-isaev-iTvO1oSCKDo-unsplash.jpg" alt="cat reading a book" /></span>
					Photo by <a href="https://unsplash.com/@isaev?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Parviz Isaev</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
				</div>
			</section>
		</div>
	</div>

	<!-- Sidebar -->
	{% include sidebar.html %}

</div>

<!-- Scripts -->
<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
<script src="{{site.baseurl}}/assets/js/util.js"></script>
<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>