<!DOCTYPE HTML>

<html>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->

		{% include header.html %}

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<div class="container bg-white pt-5">
				{% for post in site.posts %}
					{%  if post.type == 'TEAM' %}
						<article>

							<div class="row blog-item px-3 pb-5">
								<div class="col-md-5">
									<!--							<a href="{{ post.filename }}" class="image featured"><img src="{{ post.image }}" alt="" /></a>-->
									<img class="img-fluid mb-4 mb-md-0" src="{{ post.image }}" alt="Image">

									<footer>
										<ul class="actions">
											<li><a href="{{ post.filename }}" class="button large">Continue Reading</a></li>
										</ul>
									</footer>
								</div>
								<div class="col-md-7">
									<h3 class="mt-md-4 px-md-3 mb-2 py-2 bg-white font-weight-bold">{{ post.title }}</h3>
									<div class="d-flex mb-3">
										<small class="mr-2 text-muted"><i class="fa fa-calendar-alt"></i>{{ post.date | date: "%B %d, %Y" }}</small>
										<small class="mr-2 text-muted"><i class="fa fa-folder"></i>{{ post.category }}</small>
									</div>
									<p> {{ post.excerpt }} </p>

								</div>
							</div>
						</article>
					{% endif %}
				{% endfor %}
			</div>

		</div>

		<!-- Sidebar -->
		<section id="sidebar">

			<!-- Intro -->
			<section id="intro">
				<a href="#" class="logo"><img src="/images/sarah1.jpg" alt="" /></a>
				<header>
					<h2>Sarah Usher</h2>
					<p>Data Tech Specialist</p>
					<p>Speaker</p>
					<p>Mentor</p>
					<p>Advisor</p>
				</header>
			</section>



			<!--&lt;!&ndash; Posts List &ndash;&gt;-->
			<!--<section>-->
				<!--<ul class="posts">-->
					<!--<li>-->
						<!--<article>-->
							<!--<header>-->
								<!--<h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>-->
								<!--<div class="published">October 20, 2015</div>-->
							<!--</header>-->
							<!--<a href="single.html" class="image"><img src="/images/pic08.jpg" alt="" /></a>-->
						<!--</article>-->
					<!--</li>-->
					<!--<li>-->
						<!--<article>-->
							<!--<header>-->
								<!--<h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>-->
								<!--<div class="published">October 15, 2015</div>-->
							<!--</header>-->
							<!--<a href="single.html" class="image"><img src="/images/pic09.jpg" alt="" /></a>-->
						<!--</article>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</section>-->

			<!-- About -->
			{% include about.html %}

			<!-- Footer -->
			{% include footer.html %}
		</section>

	</div>

	<!-- Scripts -->
	<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
	<script src="{{site.baseurl}}/assets/js/util.js"></script>
	<script src="{{site.baseurl}}/assets/js/main.js"></script>

</body>

</html>